*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: rgba(193, 18, 234, 0.93);
 }
a{
    text-decoration:none;
}
ul li{
    list-style: none;
}
.title{
    font-size: 32px;
    color: #0e0b0b;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    text-transform: uppercase;
}
.add-btn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.clear-all {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.text-input{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    align-items: center;

}